{% extends 'CTOBundle::base.html.twig' %}
{% block body %}
    <h2>Описание тестового задания</h2>
    <p>В проекте "ТЕСТОВОЕ ЗАДАНИЕ" используется открытый API News.</p>
    <p>Если используется пустая база данных, то необходимо запустить команду
    из консоли <b>php app/console app:news-import</b> для импорта данных<br/>
    или можно залить бекап базы данных файл backup.sql
    </p>

{% endblock %}